*{
	padding: 10px;
	margin: 5px;
}
body{
   background-image: url("img/tela.jpg");
}

h1 {
	font-size: 40px;
	color: rgb(196,23,12);
	font-family: Calibri;
	margin-top: 20px;
	margin-bottom: 20px;
        text-align: center;
}


article{
	width: 700px;
        border: 1px solid #000;
	margin: 0 auto;
} 
 img {
 	width: 130px;
 	position: relative;				/*alinhamento vertical centralizado*/
	margin-top: 30px;
        margin-left: -15px;                             
	transform: translateY(-30%);
      
 }

div.caixa{
	margin: 30px;
	width: 150px;
        height: 200px;
	border: 1px solid #000;
	float: left;	
}

div.titulo1{
 	 color: rgb(51,51,51);
         font-size: 25px;
         text-align: center;
         padding-top: -50px;
}
div.titulo2{
 	 color: rgb(51,51,51);
         font-size: 25px;
         text-align: center;
}



/* //////////////////////////////// CSS CADASTRO E ATUALIZAÇÃO DE PRODUTOS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

body{
    background-color:#008B8B;
}
div.log{
    width: 500px;
    height: 280px;
    border: 3px solid #fff;
    margin: 0 auto;
    margin-top: 100px; 
    border-radius: 29px;
    background-color: #fff; 
     box-shadow: black 0.5em 0.5em 0.7em;
}

div.dent{
    width: 500px;
    height: 70px;
    clear:both;
    margin: 0 auto;
    border:0px solid #000;
    border-radius:25px 25px 0px 0px;
    background-color:#008B8B;
    border: 0px solid #008B8B;
    text-align: center;
     
}
span.nome_login{
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    line-height:70px ;
    color:#fff;
    font-family: Arial Rounded MT Bold;
}
div.login{
    margin-top: 10px;
    border: 0px solid #000 ;
    width: 500px;
    font-size: 20px;
    height: 20px;
    margin-left: 10px;
    
}
div.footer{
    width: 500px;
    height: 50px;
}
input.cadas{
    padding-right: 10px;
    margin-bottom: 7px;
}
a.cad2{
    font-size: 15px;
    text-decoration: none;
    color:#000;
}
a.cad2:hover{
    color: #00F;
}
a.cad{
    font-size: 15px;
    text-decoration: none;
    color:#000;
}
label.use{
    font-size: 19px;
}